---
const today = new Date()
---

<footer>
  <p>Looking for <a href="https://2012.heygrady.com">older posts</a>?</p>
  &copy; {today.getFullYear()} Grady Kuhnline. All rights reserved.
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
