/*
blue 0072BB
red FF4C3B
yellow FFD034
black 000000
gray C6C8CA
white FFFFFF
*/
.PageLink {
  position: relative;
}
.PageLink__headline {
  font-size: 1.2em;
  margin-top: 0;
}
.PageLink__date {
  position: absolute;
  left: -1.75rem;
  color: #C6C8CA;
  font-style: italic;
  font-size: 0.6em;
  line-height: 28px;
  margin-bottom: 0;
  transform: translateX(-100%);
}
@media (max-width: 889px) {
  .PageLink__date {
    position: static;
    left: auto;
    font-size: 0.6em;
    line-height: 1.2em;
    transform: translateX(0);
  }
}
.PageLink__description {
  margin-bottom: 0;
}
