---



import type { GetStaticPaths, InferGetStaticPropsType } from 'astro'
import BaseHead from '../components/BaseHead.astro'
import Bio from '../components/Bio.astro'
import BlogList from '../components/BlogList.astro'
import BlogPagination from '../components/BlogPagination.astro'
import Body from '../components/Body.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import { PAGE_SIZE, SITE_DESCRIPTION, SITE_TITLE } from '../config'

export const getStaticPaths = (async ({ paginate }) => {
  const postModules = import.meta.glob<{
    frontmatter: { pubDate: string; title: string; description: string }
    url: string
  }>('./posts/*.{md,mdx}', { eager: true })

  const posts = Object.values(postModules).sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )

  // Generate pages from our array of astronauts, with 2 to a page
  return paginate(posts, { pageSize: PAGE_SIZE })
}) satisfies GetStaticPaths

type Props = InferGetStaticPropsType<typeof getStaticPaths>

// All paginated data is passed on the "page" prop
const { page } = Astro.props as Props
---

<!doctype html>
<html lang='en-us'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Body>
      <Header />
      <Bio />
      <main>
        <BlogList posts={page.data} />
        <BlogPagination page={page} />
      </main>
      <Footer />
    </Body>
  </body>
</html>
