---
import BaseHead from '../components/BaseHead.astro'
import Bio from '../components/Bio.astro'
import BlogList from '../components/BlogList.astro'
import BlogPagination from '../components/BlogPagination.astro'
import Body from '../components/Body.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import { PAGE_SIZE, SITE_TITLE, SITE_DESCRIPTION } from '../config'

const posts = (await Astro.glob('../pages/posts/*.{md,mdx}')).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Body>
      <Header />
      <Bio />
      <main>
        <BlogList posts={posts.slice(0, PAGE_SIZE)} />
        <BlogPagination
          page={{ url: { next: PAGE_SIZE < posts.length ? '/2' : undefined } }}
        />
      </main>
      <Footer />
    </Body>
  </body>
</html>
