{
  "$schema": "https://json.schemastore.org/swcrc",
  "env": {
    "targets": [
      "node >=16"
    ],
    "loose": true
  },
  "jsc": {
    "externalHelpers": true,
    "loose": true,
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": true
    }
    // "target": "es2021"
  },
  "sourceMaps": true
}
  