{
  "$schema": "https://swc.rs/schema.json",
  "env": {
    "targets": ["node >=20"]
  },
  "jsc": {
    "externalHelpers": true,
    "loose": true,
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false
    }
  },
  "sourceMaps": true
}
