---
// interface Page<T = any> {
//   /** result */
//   data: T[];
//   /** metadata */
//   /** the count of the first item on the page, starting from 0 */
//   start: number;
//   /** the count of the last item on the page, starting from 0 */
//   end: number;
//   /** total number of results */
//   total: number;
//   /** the current page number, starting from 1 */
//   currentPage: number;
//   /** number of items per page (default: 25) */
//   size: number;
//   /** number of last page */
//   lastPage: number;
//   url: {
//     /** url of the current page */
//     current: string;
//     /** url of the previous page (if there is one) */
//     prev: string | undefined;
//     /** url of the next page (if there is one) */
//     next: string | undefined;
//   };
// }

export interface Props {
  page: any
}

const { page } = Astro.props
---

{page.url.prev === '/1' ? <a href={'/'}>Previous</a> : null}
{
  page.url.prev && page.url.prev !== '/1' ? (
    <a href={page.url.prev}>Previous</a>
  ) : null
}
{page.url.prev && page.url.next ? ' | ' : null}
{page.url.next ? <a href={page.url.next}>Next</a> : null}

<style>
  .BlogPagination {
    list-style-type: none;
    margin-left: 0;
  }
</style>
