---
const today = new Date()
---

<footer>
  <p>Looking for <a href="https://2012.heygrady.com">older posts</a>?</p>
  &copy; {today.getFullYear()} Grady Kuhnline. All rights reserved.
</footer>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZPNEYCN59K"
></script>
<script is:inline>
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())
  gtag('config', 'G-ZPNEYCN59K')
</script>
<script>
  import { init } from '../firebase'
  init()
</script>
