// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
figure {
  background-color: #F2F2F2;
  @include inline-block;
  max-width: 100%;
  height: auto;
  border: .5em solid #fff;
  @include border-radius(.3em);
  @include box-shadow(rgba(#000, .15) 0 1px 4px);
  @include box-sizing(border-box);
  margin: 0 auto 1.5em;
  &[role=code] {
    display: block;
    border: none;
    max-width: auto;
    @include border-radius(none);
    @include box-shadow(none);
    @include box-sizing(content-box);
  }
  img, video, .flash-video {
    border: none;
    @include border-radius(0);
    @include box-shadow(none);
    box-sizing: auto;
    margin: 0;
  }
}
figcaption {
  @extend .sans;
  background-color: #fff;
  font-size: .8em;
  line-height: 1.2em;
  padding-top: 9px;
  margin: 0;
  figure[role=code] & {
    padding-top: 0;
  }
}
p, li {
  img {
    margin: 0;
  }
}
